<h1><%=title%></h1>
<div id="todos">데이터없음</div>
<!-- 할일 목록 템플릿 -->
<script id="temp" type="x-handlebars-template">
    <table class="table table-dark table-striped-columns">
        {{#each .}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
            </tr>
        {{/each}}
    </table>
</script>
<script>
    getTodos();  //함수호출
    function getTodos(){  //함수정의
        fetch('https://jsonplaceholder.typicode.com/todos')
      .then(response => response.json())
      .then(json => {
        console.log(json);
        const temp=Handlebars.compile($("#temp").html()); //compile : 다른 언어를 html로 바꿔줌
        $("#todos").html(temp(json))
    })
    }
</script>